<section class="relative mx-32 md:py-24 py-16">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 ">
      <div class="pr-10 flex h-96 m-auto max-lg:order-2 max-lg:pt-10">
        <img src="assets/images/bg/bg1.jpg" class="rounded-lg">
      </div>
      <div>
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold ">About Aimit Hostel</h3>
      <p class="text-slate-400 mx-auto text-justify">Welcome to our vibrant college hostels, nestled within the sprawling
        campus, where three distinct abodes await to provide students with an exceptional living experience. Each hostel
        boasts a unique identity, fostering a sense of community, growth, and belonging among its residents.

        Our first hostel is a bustling hub of energy, where diverse cultures converge, friendships flourish, and shared
        stories come to life. With its vibrant common areas, it offers an ideal space for socializing, collaborating on
        projects, and igniting new passions.

        The second hostel, a tranquil haven, exudes a serene ambiance, providing a peaceful retreat for those seeking
        solace and focused study environments. Its well-designed study areas offer a conducive atmosphere for academic
        pursuits, ensuring students can delve deep into their scholarly endeavors.

        For those who crave the cool embrace of air-conditioning, our third hostel beckons with refreshing breezes and
        an inviting aura. With its spacious rooms and comfortable amenities, it provides a sanctuary where residents can
        recharge, relax, and find respite from the bustling campus life.
      </p>
      </div>
    </div>
  </div>
</section>
<section class="relative mx-32 md:pb-24 pb-16">
  <div class="container">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">

      <app-hostel-type name="Loyola Hostel">
        <li class="mb-1 flex">Non-Ac</li>
        <li class="mb-1 flex">2 sharing a room</li>
      </app-hostel-type>
      <app-hostel-type name="Mother Theresa Hostel">
        <li class="mb-1 flex">Non-Ac</li>
        <li class="mb-1 flex">2 share a room</li>

      </app-hostel-type>
      <app-hostel-type name="Loyola Hostel">
        <li class="mb-1 flex">AC / Non-Ac</li>
        <li class="mb-1 flex">2/3 sharing a room</li>
      </app-hostel-type>

    </div>
  </div>
</section>
