<section class="relative table w-full py-36 lg:py-64 h-screen ">
  <div class="absolute inset-0 bg-cover bg-no-repeat bg-center transition-all duration-700 ease-in" [class]="imgClass"
       id="overlay"></div>
  <div class="absolute inset-0 bg-gradient-to-l from-transparent via-cyan-600/80 to-cyan-700"></div>
  <div class="container absolute inset-y-auto md:ml-16 lg:ml-32 xl:ml-72 w-fit">
    <div class="grid grid-cols-1">
      <div class="text-left max-md:ml-10 mt-10 ">
        <h1 class="font-bold text-white lg:leading-normal leading-normal text-4xl lg:text-5xl mb-6">AIMIT Hostel</h1>
        <p class="text-white/70 text-xl max-w-xl">The vibrant hostel buzzes with a melting pot of cultures, fostering
          unforgettable friendships amidst shared stories and adventures.</p>
      </div>
    </div>
  </div>
</section>
