<div
  class="group relative lg:px-6 mt-4 transition duration-500 ease-in-out rounded-xl overflow-hidden text-center ">
  <div class="relative overflow-hidden text-transparent -m-3 h-28">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-hexagon h-28 w-28 fill-indigo-600/5 mx-auto rotate-[30deg]">
      <path
        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
    </svg>

    <div
      class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-indigo-600 rounded-xl transition duration-500 ease-in-out text-3xl flex align-middle justify-center items-center">
      <i-feather [name]="iconName"></i-feather>
    </div>
  </div>

  <div class="mt-6">
    <a href="#" class="text-xl font-medium hover:text-indigo-600 duration-500 ease-in-out">{{title}}</a>
    <p class="text-slate-400 transition duration-500 ease-in-out mt-3 text-justify">
      <ng-content></ng-content>
    </p>
  </div>
</div>
