<app-navbar></app-navbar>
<app-hero-section></app-hero-section>


<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="features">
  <div class="container lg mx-auto">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Features</h3>
      <p class="text-slate-400 max-w-xl mx-auto">Embracing the needs of its residents, the hostel offers an array of
        features including communal spaces for socializing, study areas for academic pursuits, and convenient amenities
        like laundry facilities, ensuring a comfortable and enriching experience for all.</p>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-4 gap-[30px]">
      <app-feature-section title="3 Hostels" iconName="home">Three cozy hostels on campus offer convenient
        accommodations, unique amenities, and a vibrant community for students.
      </app-feature-section>
      <app-feature-section title="AC/Non Ac" iconName="wind">Amidst the campus hostels, one beckons with the allure of
        air-conditioned comfort, while the others foster a vibrant community spirit in their non-AC abodes.
      </app-feature-section>
      <app-feature-section title="3/2 sharing" iconName="home">Within the hostel's welcoming embrace, rooms embrace the
        joy of companionship with cozy 3/2 sharing arrangements, forging bonds and creating memories that endure.
      </app-feature-section>
    </div>
  </div>
</section>


<app-about></app-about>

<section class="bg-banner h-72">
  <div class="container mx-auto">
    <div class="text-white text-center pt-20 font-sans ">
      <h3 class="text-6xl font-semibold ">Lucet et ardet</h3>
      <h2 class="text-4xl font-medium">Shine to enkindle</h2>
    </div>
  </div>
</section>


<section class="relative mx-32 md:py-24 py-16">
  <div class="container">
    <div class="grid grid-cols-1 pb-4 text-center">
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">News</h3>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-4 gap-[30px]">


      <app-news-section title="News 1"
                        short_description="The phrasal sequence of the is now so that many campaign and benefit"
                        src="/assets/images/bg/bg1.jpg"></app-news-section>
      <app-news-section title="News 1"
                        short_description="The phrasal sequence of the is now so that many campaign and benefit"
                        src="/assets/images/bg/bg1.jpg"></app-news-section>
      <app-news-section title="News 1"
                        short_description="The phrasal sequence of the is now so that many campaign and benefit"
                        src="/assets/images/bg/bg1.jpg"></app-news-section>

    </div>
  </div>
</section>

<section class="mx-32">
  <div class="container md:mt-12 mt-8">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Hostel Staff</h3>
      <p class="text-slate-400 max-w-xl mx-auto">Our dedicated hostel staff members are the backbone of our community,
        committed to creating a warm and supportive environment while providing exceptional service and care to our
        residents.</p>
    </div>

    <div class="grid md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
     <app-staff-section src="/assets/images/team/christopher.jpg" name="My name" role="Director"></app-staff-section>
     <app-staff-section src="/assets/images/team/christopher.jpg" name="My name" role="Warden"></app-staff-section>

    </div><!--end grid-->
  </div><!--end container-->
</section>


<footer class="footer bg-gray-800 mt-10 px-20 relative text-gray-200 dark:text-gray-200">
  <div class="container">
    <div class="py-[60px] px-0">
      <div class="grid grid-cols-3 ml-10 gap-4">
        <div class="text-left">
          <h1 class="font-semibold">Institution</h1>
          <p>St Aloysius Institute of Management & Information Technology,
            Beeri, Kotekar, Mangaluru – 575 022</p>
        </div>
        <div class="text-left">
          <h1 class="font-semibold">GET IN TOUCH</h1>
          We would love to hear from you. Contact us for any queries or information.
        </div>
        <div class="m-auto">
          <!--            <div>-->
          <i-feather name="phone-call"></i-feather>
          +91 914 120 1851 / 52
          <!--            </div>-->
        </div>
      </div><!--end grid-->
    </div>
  </div><!--end grid-->


</footer><!--end footer-->
